.split-screen {
  height: 100vh; /* Make sure it takes the full viewport height */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
}

.left-pane {
  grid-column: 1;
  background-color:'black';
  text-decoration-color: 'white';
}

.right-pane {
  grid-column: 2;
  background-color: #cdf6fc;
}
